@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap');

/* defining variables */

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f59e0b;
    --off-white: #f3f4f6;
    --dark-gray: rgb(114, 114, 114);
    --width-break: 500px;
}

body {
    display: grid;
    /* place-content: center; */
    /* row-gap: 2rem; */
    margin: 0;
    /* padding: 1rem; */
    

    
}

h1 {
    margin: auto;
}

.banner {
    padding: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #f59e0b;
    width: 100%;
}


textarea {
    display: block;
    outline: none;
    height: 9rem;
    margin: auto;
    padding: 1rem;
    border-width: medium;
    resize: none;
    max-width: 100%;
    /* box-sizing: border-box; */
}

button {
    margin: auto;
    margin-top: 1rem;
    width: max-content;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: large;

}

#output-title {
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    margin-top: 3rem;
}


#output-box {
    border: 1px solid black;
    display: block;
    outline: none;
    height: 9rem;
    margin: auto;
    padding: 1rem;
    border-width: medium;
    max-width: 100%;
    overflow: scroll;
    
}



#btn-translate {
    
}

@media (max-width:660px){
    h1{
        font-size: 1.5em;
    }

    textarea{
        width: 85vw;
    }

    #output-box {
        width: 85vw;
    }

    .info{
        width: 90vw;
    }
    p{
        font-size: 0.8em;
    }
}

.footer {
    padding: 1rem;
    text-align: center;
    background-color: #f59e0b;
    width: 100%;
    bottom: 0;
    position: fixed;

}

.about-txt {
    font-size: x-large;
}

.para-footer {
    padding: 1rem;
    max-width: var(--width-break);
    margin: auto;
}